{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <h1>Liste des tâches</h1>

    {% if tasks is empty %}
        <p>Aucune tâche enregistrée.</p>
    {% else %}
        <ul>
            {% for task in tasks %}
                <li>
                    {{ task.name }}
                    {% if task.genres is not empty %}
                        <ul>
                            {% for genre in task.genres %}
                                <li>{{ genre.libelle }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
